<div class="container-fluid">
    <div class="row">
        {{#each clients}}
        <div class="col-12">
            <div class="card search-result">
                <div class="row">
                    <div class="col-12">
                        <a class="card-title" href="/client_details/{{this.ClientID}}">{{this.ClientName}}</a>
                        <span class="card-status">{{this.ticketCount}} Open Tickets</span>
                    </div>
                    <div class="col-12">
                        <span class="card-small-text">Primary Contact: {{this.PrimaryContact}}</span> &bull;
                        <span class="card-small-text">Phone Number: {{this.Phone}}</span> &bull;
                        <span class="card-small-text">Email: {{this.Email}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>