<div class="container-fluid">
    <div class="row">
        {{#each employees}}
        <div class="col-12">
            <div class="card search-result">
                <div class="row">
                    <div class="col-12">
                        <a class="card-title" href="/employee_details/{{this.EmployeeID}}">{{this.FirstName}} {{this.LastName}}</a>
                    </div>
                    <div class="col-12">
                        <span class="card-small-text">{{this.Email}}</span> &bull;
                        <span class="card-small-text">Access Level: {{this.AccessLevel}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>