<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h2>New Tickets</h2>
            {{#each unassigned}}
            <div class="card">
                <div class="row">
                    <div class="col-1">
                        <button class="card-show-details text"></button>
                    </div>
                    <div class="col-9">
                        <a class="card-title" href="/ticket_details/{{this.TicketID}}">{{this.Title}}  (#{{this.TicketID}})</a>
                        <a class="card-category" href="/category/{{this.CategoryID}}">{{this.Category}}</a>
                        &bull;
                        <span class="card-small-text">Submitted: {{this.Submitted}}</span>
                    </div>
                    <div class="col-2"><button class="default" data-toggle="modal" data-target="#assignModal">Assign</button></div>
                </div>
                <div class="card-details">
                    <div class="row">
                        <div class="col-12">
                            <h5>Client</h5>
                            <p><a href="/client_details/{{this.ClientID}}">{{this.ClientName}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Problem Description:</h5>
                            <p>{{this.Description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-4">
            <h2>Assigned Tickets</h2>
            {{#each assigned}}
            <div class="card">
                <div class="row">
                    <div class="col-1">
                        <button class="card-show-details text"></button>
                    </div>
                    <div class="col-9">
                        <a class="card-title" href="/ticket_details/{{this.TicketID}}">{{this.Title}}  (#{{this.TicketID}})</a>
                        <a class="card-category" href="/category/{{this.CategoryID}}">{{this.Category}}</a>
                        &bull;
                        <span class="card-small-text">Submitted: {{this.Submitted}}</span>
                        &bull;
                        <span class="card-small-text">Last Updated: {{this.LastUpdated}}</span>
                    </div>
                    <div class="col-2"><button class="default" onclick="window.location.href='/ticket_details/{{this.TicketID}}';">Update</button></div>
                </div>
                <div class="card-details">
                    <div class="row">
                        <div class="col-12">
                            <h5>Client</h5>
                            <p><a href="/client_details/{{this.ClientId}}">{{this.ClientName}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Problem Description:</h5>
                            <p>{{this.Description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Assigned Employee(s):</h5>
                            {{#each this.AssignedEmployees}}
                            <a href="/employee_details/{{this.id}}">{{this.name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-4">
            <h2>Closed Tickets</h2>
            {{#each closed}}
            <div class="card">
                <div class="row">
                    <div class="col-1">
                        <button class="card-show-details text"></button>
                    </div>
                    <div class="col-11">
                        <a class="card-title" href="/ticket_details/{{this.TicketId}}">{{this.Title}}  (#{{this.TicketID}})</a>
                        <a class="card-category" href="/category/{{this.CategoryID}}">{{this.Category}}</a>
                        &bull;
                        <span class="card-small-text">Closed: {{this.Closed}}</span>
                    </div>
                </div>
                <div class="card-details">
                    <div class="row">
                        <div class="col-12">
                            <h5>Client</h5>
                            <p><a href="/client_details/{{this.ClientId}}">{{this.ClientName}}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Problem Description:</h5>
                            <p>{{this.Description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Resolution:</h5>
                            <p>{{this.Resolution}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div id="assignModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Assign Employee to Ticket</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="assignModalBody" class="modal-body">
            <div class="row">
                <div class="col-12">
                    <label for="assign_employee_name">Name</label>
                    <select name="assign_employee_name" id="assign_employee_name">
                        {{#each employees}}
                        <option value="{{this.EmployeeID}}">{{this.EmployeeName}}</option>
                        {{/each}}
                    </select>
                    <button href="javacript:void(0)" class="default">Add another employee</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="default" data-dismiss="modal">Cancel</button>
            <button type="button" class="primary">Save</button>
        </div>
        </div>
    </div>
</div>