<div class="container">
    <h1>Search Results for Ticket ID #{{TicketID}}</h1>
    {{#unless tickets}}
    <p>No tickets found with that ID.</p>
    {{/unless}}
    <div class="row">
        {{#each tickets}}
        <div class="col-12">
            <div class="card search-result">
                <div class="row">
                    <div class="col-11">
                        <a class="card-title" href="/ticket_details/{{this.TicketID}}">{{this.Title}}  (#{{this.TicketID}})</a>
                    </div>
                    <div class="col-1">
                        <span class="card-status">{{this.Status}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="card-category" href="/category/{{this.CategoryID}}">{{this.Category}}</a>
                        &bull;
                        <span class="card-small-text">Submitted: {{this.Submitted}}</span>
                        {{#if this.LastUpdated}}
                        &bull;
                        <span class="card-small-text">Last Updated: {{this.LastUpdated}}</span>
                        {{/if}}
                        {{#if this.Closed}}
                        &bull;
                        <span class="card-small-text">Resolved: {{this.Closed}}</span>
                        {{/if}}
                        <h4>Client</h4>
                        <p><a href="/client_details/{{this.ClientId}}">{{this.ClientName}}</a></p>
                        <h4>Issue</h4>
                        <p>{{this.Description}}</p>
                        {{#if this.Resolution}}
                        <h4>Resolution</h4>
                        <p>{{this.Resolution}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>